# Ignorar pasta .idea do IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Ignorar arquivos Maven que você não quer
pom.xml

# Ignorar pastas target
target/
**/target/

# Evitar incluir maven-wrapper
!.mvn/wrapper/maven-wrapper.jar
